body
{
	background-color: #323232;
	color: #efefef;
	font-size: 28px;
}

#Wizualizacja
{
    width: 640px;
    height: 480px;
    min-width: 640px;
    min-height: 480px;
}

#Interfejs
{
    width: 160px;
    height: 480px;
    min-width: 160px;
    min-height: 480px;
}

#Wybor_danych
{
    width: 160px;
    height: 30px;
    min-width: 160px;
    min-height: 30px;
}

#Serie_danych
{
    width: 160px;
    height: 30px;
    min-width: 160px;
    min-height: 30px;
}

#Typ_wykresu
{
    width: 160px;
    height: 30px;
    min-width: 160px;
    min-height: 30px;
}

#Kolor_wykresu
{
    width: 160px;
    height: 30px;
    min-width: 160px;
    min-height: 30px;
}

#Znaczniki_wykresu
{
    width: 160px;
    height: 30px;
    min-width: 160px;
    min-height: 30px;
}

#Przedzial
{
    width: 160px;
    height: 30px;
    min-width: 160px;
    min-height: 30px;
}

#Rysuj_wykres
{
    width: 160px;
    height: 30px;
    min-width: 160px;
    min-height: 30px;
}